.episode_3_Frame_3{
    max-width: 800px;
    margin: auto;
    position: relative;
    overflow: hidden;
    }
    .episode_3_Frame_3_BlackWindow{
      position:relative;
      background-color: black;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 7;
    }
     .episode_3_Frame_3_back{
        width: 100%;
      position: relative;
      z-index: 1;
    }  

 
   .episode_3_Frame_3_finger{
    position: absolute;
    top: 56%;
    left: 13%;
    width: 5%;
    z-index: 1;
    }

   
    .episode_3_Frame_3_hands{
      position: absolute;
      top: 12%;
      left: 53%;
      width: 18%;
      z-index: 2;
    }

    .episode_3_Frame_3_message{
        position: absolute;
        z-index: 2;
    }
