.frameTwo{
  max-width: 600px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.street{
  width:100%;
}



.blue{
  bottom: 0;
    right: 0;
    position: absolute;
    z-index: 4;
    width: 100%;
   
  }

  .blueCarDiv{
    bottom: 2%;
    right: 18%;
    position: absolute;
    z-index: 4;
    width: 27%;
     
    }
 
  .yellow{
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
  } 

  .yellowCarDiv{
    width: 14%;
    bottom: 6%;
    left: 35%;
    position: absolute;
    z-index: 1;
  } 
 
  .green{
    width: 6%;
    bottom: 12%;
    left: 28%;
    position: absolute;
    z-index: 1;

  } 