.framerTwelve {
    max-width:600px;
    margin: auto;
    position: relative;
  }


  .sadBoy{
    width: 100%;
    position: relative;
    z-index: 1;
  }


  .evilGirl{
    position: absolute;
    z-index: 2;
  }
.backCompShine{
    position: absolute;
    bottom: 23%;
    left: 39%;
    width: 30%;
    z-index: 1;

}

.checkMessage{
    position: absolute;
    z-index: 1;
}