.parent{
  padding-top: 1%;

    max-width: 70%;
    margin: auto;
    position: relative;
    /* background-color: red; */
}

.street{
  width:100%;
}



.blue{
  bottom: 3%;
  right: 13%;
  position: absolute;
  z-index: 4;
  width: 28%;
   
  }
 
  .yellow{
   width: 14%;
   bottom: 4%;
   left: 39%;
   position: absolute;
   z-index: 1;
  } 
 
  .green{
    width: 7%;
    bottom: 7%;
    left: 30%;
    position: absolute;
    z-index: 1;
  } 