.frameTwo{
  max-width: 600px;
  margin: auto;
  position: relative;
}

.street{
  width:100%;
}



.blue{
  bottom: 8%;
  right: 18%;
  position: absolute;
  z-index: 4;
  width: 27%;
   
  }
 
  .yellow{
    width: 14%;
    bottom: 8%;
    left: 42%;
    position: absolute;
    z-index: 1;
  } 
 
  .green{
    width: 8%;
    bottom: 13%;
    left: 30%;
    position: absolute;
    z-index: 1;

  } 