 .constructor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.mainContainer{
    background-color: rgb(128, 108, 108);
    height: auto;
    width: 600px;
}

.paint {
    width: 500px;
    height: 900px;
}

.frame {
    width: 800px;
}

.leftPanel{
    flex: 1;
    overflow-x: hidden;    
    max-height: 800px;
    margin-bottom: 50px;
}

.mainFrame{
    flex: 1;
    overflow-x: hidden;    
    max-height: 750px;
    min-height: 70px;
    overflow: hidden
}

.addFrame{
    margin: 35px;
}

.frameBox{
    left: 0;
    margin-bottom: 35px;
    width: 180px;
    height: 120px;
    height: auto; 
    border-radius: 10%;
}

.framePreview{
    margin: 10px 0 10px 10px;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.forFlex{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0% 20% 20% 0% ;
    margin: 10px 10px 10px 0;
}

.imgs{
    margin:30px 10px;
    width: 500px;
    height: 150px;
    overflow-y:hidden;
    display: flex;
    flex-wrap: nowrap;
    border: thin solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

 .imgBox{
    position: relative;
    display: flex;
    align-items: center;
    border: thin solid rgba(0, 0, 0, 0.12);
    background-color: #f1f1f1;
    width: 100px;
    height: 120px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
}

.editor{
    margin:30px;
    width: 500px;
    max-height: 600px;
    overflow-x:hidden;
}

.topButtons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(216, 232, 232);
    height: 70px;
}

.sideBars{

    display: flex;
    justify-content: space-around;
    background-color:rgb(214, 229, 229); 
}

.addPhotoIcon{
    width: 58px;
    height: 58px;
    border: 2px solid;
    border-radius: 48%;
    padding: 20px;
}

.deleteContainerFrame{
    margin-left: 130px;
    margin-top: -88px;
    position: absolute;
}

.deleteContainerImg{
    margin-left: 90px;
    margin-top: -88px;
    position: absolute;
}

.newFrame{
    border: thin solid rgba(0, 0, 0, 0.12);
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.editorInputs{
    display: flex;
    justify-content: space-around;
}

.MuiInputBase-root{
    height: 40px;
}

.chipInput div:first-of-type label {
    margin-top: -7px;
}

.backButton{
    z-index: 2;
    position: absolute;
    top: 2%;
    left: 2%;
    cursor: pointer;
}