.parent {
    padding-top: 1%;
    max-width:70%;
    margin: auto;
    position: relative;
  }


  .one{
    width: 100%;
    position: relative;
  }
  .two{
    position: absolute;
    width: 14%;
    bottom: 10%;
    right: 20%;
    transform-origin: bottom left;
  transform-style: preserve-3D;
  }

  .three{
    position:absolute;
    width: 35%;
    bottom: 0;
    right: 0;
  }

  .five{
    position:absolute;
    width: 1%;
    bottom: 66%;
    right: 60%;
  }