.frameSix {
    padding-top: 1%;
    max-width:600px;
    margin: auto;
    position: relative;
  }


  .one{
    width: 100%;
    position: relative;
  }
  .two{
    position: absolute;
    width: 17%;
    bottom: 11%;
    right: 36%;
    transform-origin: bottom left;
  transform-style: preserve-3D;
  }

  .three{
    position:absolute;
    width: 40%;
    bottom: 1%;
    right: 15%;
  }

  .five{
    position:absolute;
    width: 1%;
    bottom: 97%;
    right: 31%;
  }