.minutesLater{
    max-width: 800px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.doorOfOffice{
    width:100%;
    margin: auto;
    position: relative;
    z-index: 1;
}

.partOfDoor{
    left: 0%;
    top: 0%;
    width: 22%;
    position: absolute;
    z-index: 3;
}

.guysWalking{
    left: 0%;
    top: 0%;
    width: 22%;
    position: absolute;
    z-index: 2;
}

.min45 {
    left: 6%;
    top: 7%;
    width: 27%;
    position: absolute;
    z-index: 4;
}