.episode_2_Frame_4{
    max-width: 800px;
    margin: auto;
    position: relative;
    overflow: hidden;
}


/* .episode_2_Frame_4_BlackWindow{
  position:relative;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
} */

 .episode_2_Frame_4_window{
    width: 100%;
    top:0;
    left: 0;
    z-index: 1;
  position: absolute;
}  


 .episode_2_Frame_4_threePersons{
  width: 100%;
  bottom:0%;
  left: 0%;
  z-index: 3;
  position: relative;
}


.episode_2_Frame_4_windowShine{
  position: absolute;
  /* top: 0%;
  left: -64%;
  width: 85%; */
  z-index: 2;
}

.episode_2_Frame_4_compShine{
  position: absolute;
    top: 74%;
    left: 23%;
    z-index: 3;
    width: 15%;
}

.episode_2_Frame_4_message{
  position: absolute;
    z-index: 3;
}