.frameFour{
  max-width: 600px;
    margin: auto;
    position: relative;
    
} 

.room{
  width: 100%;  
  position: relative;
  
} 
 
 

  .runningGuy{
    position: absolute;
  z-index: 1;
  }


.lists{
  position: absolute;
    z-index: 1;
}

.mess{
  position: absolute;
  /* bottom: 77%;
  right: 0;
  width: 13%; */
  z-index: 1;
  

}


