.frameFour{
  padding-top: 1%;

  max-width: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;
} 

.room{
  width: 100%;  
  position: relative;
  overflow: hidden;
} 
 
 

  .runningGuy{
    left: 68%;
    position: absolute;
    bottom: 13%;
  
    width: 39%;
  z-index: 1;
  }


.lists{
  position: absolute;
    bottom: 10%;
    right: -1%;
    width: 26%;
    z-index: 1;
}

.mess{
  position: absolute;
  bottom: 65%;
  right: 10%;
  width: 13%;
  z-index: 1;
}


