.framerTen {
    max-width:600px;
    margin: auto;
    position: relative;
  }


  .wall{
    width: 100%;
    position: relative;
    z-index: 1;
  }


  .personOne{
    position: absolute;
    bottom: 0%;
    left: 17%;
    width: 84%;
    z-index: 2;
  }

  .personTwo{
    position: absolute;
    bottom: 0%;
    right: 55%;
    width: 55%;
    z-index: 1;
  }



  .twoPersonsShine{
    position: absolute;
    bottom: 0%;
    left: 55%;
    width: 45%;
    z-index: 4;
  }


  .twoPersonsMessage{
    position: absolute;
    bottom: 71%;
    left: 56%;
    width: 3%;
    z-index: 4;
  }