
body{
    height: 100vh;
    overflow: hidden;
}
.episode::-webkit-scrollbar {
    display: none;

}
.scrollsnap-section {
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
  }